.size {
    width: 60%;         
    height: auto;
    display: block;     
    margin: 0 auto;     
}
.google-font {
    font-family: 'Roboto', sans-serif;
}


.main-title {
    font-family: 'Arial Black', Gadget, sans-serif;
    font-size: 2.5rem;
    font-weight: 900;
    color: #2c3e50;
    text-align: center;
}

.paragraph-text {
    font-family: 'Georgia', serif;
    font-size: 1.2rem;
    line-height: 1.6;
    color: #333;
}

.bold-text {
    font-weight: bold;
    color: gray;
    font-size: 1.2rem;
}

.italic-text {
    font-style: italic;
    font-family: 'Times New Roman', serif;
}

